/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  padding: 10px 10px;
  background-color: rgb(248, 248, 248);
}

.box h5 {
  font-size: 18px;
}

.panel-footer.panel-custom {
  padding: 10px 15px;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

h3 {
  text-align: center;
}

.nav-custom {
  padding: 10px 15px 10px 15px;
  background-color: black;
  /* color: white;
  font-family: 'Courier New', Courier, monospace; */
  font-size: 22px;
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
